@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: hsl(0, 1%, 17%);
    display: block;
}

.hero {
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem auto;
}

.logo {
    margin: 1rem auto;
    padding: 1rem;
}

.header {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.header span {
    display: block;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ios-btn,
.mac-btn {
    width: 80%;
    padding: 1rem .5rem;
    margin: 1.5rem auto;
    border: none;
    border-radius: 2rem;
    color: hsl(0, 0%, 96%);
}
.ios-btn:hover,
.mac-btn:hover {
   cursor: pointer;
   opacity: .8;
}

.ios-btn {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 1px 2px 3px 1px hsl(171, 66%, 44%);
}

.mac-btn {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 1px 2px 3px 1px hsl(233, 100%, 69%);
}

.keep__track {
    padding: 1rem;
    margin-bottom: 2.5rem;
}

.computer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.computer div {
    margin: 2rem 0rem 3rem 0rem;
}

.access {
    margin-bottom: 2rem;
}

.access img {
    margin-top: 3rem;
}

.supercharge div {
    margin: 1rem auto;
    padding: 1rem;
}

.supercharge div img {
    margin: 2rem auto;
}

.companies .container {
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    align-items: center;
    gap: 5rem;
    padding: 2rem 0;
    margin: 2rem auto;
}

.call-to-action {
    padding: 1rem 0;
    margin: 2rem auto;
}

footer {
    background-color: hsl(201, 11%, 66%);
    padding: 1rem 0rem 2rem 0rem;
}

footer .logo {
    width: 30%;
}

.link {
    margin: 1rem 0rem 2rem 0rem;
}

.link:hover {
    cursor: pointer;
    color: hsl(171, 66%, 44%);
}

.socials {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.socials img:hover,
.socials img:active {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(68%) sepia(21%) saturate(1395%) hue-rotate(122deg) brightness(88%) contrast(84%);
}

@media (min-width: 700px) {

    img {
        max-width: 60%;
    }

    .container {
        width: 90%;
    }

    .hero .container {
        width: 50%;
    }

    .hero {
        background-image: url(images/bg-header-desktop.png);
        padding: 2rem 0rem;
    }

    .header span {
        display: inline;
    }

    .btn {
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
    }

    .ios-btn,
    .mac-btn {
        width: 40%;
    }

    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 5rem;
    }

    .computer {
        text-align: start;
        font-size: 1rem;
    }

    .computer div {
        width: 80%;
    }

    .computer img {
        margin-left: -10rem;
    }

    .access p{
        width: 70%;
        margin: 0 auto;
    }

    .supercharge div {
        margin: 1rem auto;
        padding: 0;
    }

    .tools {
        width: 100%;
        font-size: 1rem;
    }

    .companies .container {
        flex-direction: row;
        margin: 3rem auto;
    }

    .call-to-action .container {
        width: 50%;
    }

    footer {
        padding: 1rem;
    }

    footer .logo {
        width: 10%;
    }

    .footer-links {
        display: flex;
        justify-content: space-around;
        width: 40%;
    }

    .footer-links div {
        width: 50%;
        margin-right: 1rem;
        text-align: start;
    }

    .socials {
        width: 15%;
        padding: 1rem;
    }
}